.terminal-window {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;

  width: 760px;
  max-width: calc(100vw - 10vw);
  height: min(600px, 78vh);

  transform-origin: top left;

  box-shadow:
    0 20px 40px -18px rgba(33, 28, 25, 0.28),
    0 2px 6px rgba(33, 28, 25, 0.06);
}

.content.terminal-content {
  padding: 0;
  background: #1a1a1a;
  overflow-y: auto;
}

@media (max-width: 620px) {
  .terminal-window {
    display: none;
  }
}
